.home {
  background-image: url("img/mainpage.png");
  background-repeat: no-repeat;
  width: 100%;
  contain: content;
  background-size: cover;
  z-index: -2;
}

.intro {
  padding-top: 24.5rem;
  margin-bottom: 0;
  margin-left: 2rem;
}
.line {
  background-color: #f7f8f9;
  height: 0.2rem;
  border-radius: 1rem;
  border: 0;
  z-index: 2;
}
.subline {
  background-color: #f7f8f9;
  height: 0.2rem;
  border-radius: 1rem;
  opacity: 0.15;
  border: 0;
}
.shortwhole {
  padding: 26rem 0 0;
  margin-left: 30%;
  display: flex;
  align-items: flex-start;
}
.aboutshort {
  margin: 0;
  padding-top: 0;
  padding-bottom: 10.6rem;
  width: 30rem;
  height: fit-content;
  padding-right: 3rem;
  margin-right: 0.4rem;
}
.aboutcom_all {
  display: flex;
}

.aboutcom {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1.1rem;
  width: 25rem;
}

.year_all {
  display: flex;
}
.year {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1.1rem;
  width: 25rem;
}
.aboutmap_all {
  display: flex;
}
.aboutmap {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1.1rem;
  width: 25rem;
}

.arrow {
  background: url("img/Vector2.png") no-repeat;
  border: none;
  padding: 1rem;
  margin-top: 2rem;
  height: 3rem;
  cursor: pointer;

  align-items: center;
  width: 1.5rem;
}
.arrow:hover {
  background: url("img/vector2_hover.png") no-repeat;
}

.serviceshort {
  padding-bottom: 5.6rem;
  width: 30rem;
  height: fit-content;
  margin-right: 0.4rem;
  padding-right: 3rem;
}
.serviceshortcut_all {
  display: flex;
}
.serviceshortcut {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1.1rem;
  width: 25rem;
}
.servicenum {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.7rem 1.1rem;
}
.recentnewsshort {
  padding-bottom: 5.6rem;
  width: 30rem;
  margin-right: 0.4rem;
  height: fit-content;
  padding-right: 3rem;
}
.recentnewsshortcut_all {
  display: flex;
}
.recentnews_shortcut {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1.1rem;
  width: 25rem;
}
.news {
  padding: 0.7rem 1.1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
}

@media (max-width: 960px) {
  .homeImg {
    height: 100vh;
  }
  .intro {
    padding-top: 23rem;
    margin-right: 30%;
    white-space: pre-line;
    word-wrap: break-word;
    width: 78.13%;
  }
  /*.intro의 width는 문구 확정되면 수정*/
  .arrow {
    margin-left: auto;
  }
  .aboutshort {
    width: 100%;
  }
  .aboutcom {
    width: 100%;
  }
  .year {
    width: 100%;
  }
  .aboutmap {
    width: 100%;
  }
  .serviceshortcut {
    width: 100%;
  }
  .recentnews_shortcut {
    width: 100%;
  }

  .shortwhole {
    padding: 16rem 0;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .aboutshort {
    padding-bottom: 5rem;
    padding-right: 0;
  }
  .serviceshort {
    padding-bottom: 5rem;
    width: 100%;
    padding-right: 0;
  }
  .recentnewsshort {
    width: 100%;
    padding-right: 0;
  }
}
