.postdetailheader {
  padding: 5.5rem 0 3.5rem 0;
  border-bottom: 2px solid #ddd;
}

.postdetailbtn {
  text-align: center;
  margin: auto;
  display: block;
}

@media (max-width: 768px) {
  .postdetailsection {
    padding: 5rem 0;
  }
}

.postdetailsection {
  padding: 15rem 0;
}
