.tabletop {
  border-bottom: 1px solid #e9ebed;
  font-weight: bold;
  padding: 1.7rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tabletop div {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 160%;
}

.background {
  background: url("img/bg_site_header.jpg") no-repeat;
  height: 40rem;
  z-index: 2;
  background-size: cover;
  margin-top: 9rem;
}

.noticepagebar {
  margin-top: 5.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.noticesection1 {
  padding: 20rem 0 4rem;
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.noticesection2 {
  margin-top: 5rem;
}

.noticesection3 {
  /*상 [좌=우] 하 */
  padding: 4.8rem 0 18rem;
}

.editor {
  min-height: 40rem;
}

.nextpage,
.prevpage {
  position: relative;
  border: none;
  width: 1.2rem;
  height: 1.2rem;
  cursor: pointer;
  background-color: transparent;
  user-select: none;
}

.prevpageArrow {
  position: absolute;
  width: 80%;
  height: 80%;
  border-top: 0.1rem solid #26282b;
  border-right: 0.1rem solid #26282b;
  display: block;
  transform: rotate(225deg);
  top: -0.05rem;
}

.nextpageArrow {
  position: absolute;
  width: 80%;
  height: 80%;
  border-top: 0.1rem solid #26282b;
  border-right: 0.1rem solid #26282b;
  display: block;
  transform: rotate(45deg);
  top: -0.05rem;
  left: -0.7rem;
}

.buttonDisable {
  border-top: 0.1rem solid #e9ebed;
  border-right: 0.1rem solid #e9ebed;
  cursor: auto;
}

@media (max-width: 960px) {
  .tabletop div:last-child {
    display: none;
  }
  .noticesection1 {
    display: flex;
    padding-top: 10rem;
    padding-bottom: 4rem;
    white-space: pre-line;
    word-wrap: break-word;
    width: 18.4rem;
  }
  .background {
    height: 30rem;
  }
  .noticesection2 {
    margin-top: 9rem;
    padding-top: 0rem;
  }

  .noticesection3 {
    /*상 [좌=우] 하 */
    padding: 2.6rem 0 10rem;
  }
}
