.Postboard {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
.head {
  display: flex;
  align-items: center;
  justify-content: center;
}
.title {
  font-size: 3rem;
  font-family: "NotoSans-KR";
  font-weight: 600;
  text-align: center;
  padding: 2rem;
}

.dropbox {
  width: 13rem;
  padding: 0.6rem;
  font-family: "NotoSans-KR";
}
.Postcontainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  width: 80%;
  border: 1px solid #333;
  padding: 10px 0 30px 0;
  border-radius: 1rem;
  margin-bottom: 5rem;
}

.formwrapper {
  width: 90%;
  height: 90vh;
  margin: 0 auto;
}

.titleinput {
  width: 50rem;
  height: 4rem;
  margin: 1rem;
  font-family: "NotoSans-KR";
  font-size: 1.6rem;
  font-weight: bold;
  padding-left: 1rem;
}

.submitbutton {
  width: 8em;
  height: 3.5rem;
  font-size: 1.3rem;
  font-weight: bold;
  border: #000000, 1rem;
  border-radius: 2rem;
  margin-top: 2rem;
}
.submitbutton:focus:hover {
  background-color: darkgrey;
  font-weight: 800;
}
.editor {
  font-size: 1.2rem;
}
.ck-editor__editable:not(.ck-editor__nested-editable) {
  min-height: 40rem;
}
