.tabletop {
  border-bottom: 1px solid #e9ebed;
  font-weight: bold;
}

.noticeheader {
  margin-top: 2.5rem;
}

.noticepagebar {
  margin-top: 5.9rem;
  text-align: center;
}

.noticesection1 {
  padding: 25rem 0 16rem;
}

.noticesection2 {
  margin-top: 0rem;
  padding-top: 0rem;
}

.noticesection3 {
  /*상 [좌=우] 하 */
  padding: 4.8rem 0 18rem;
}

@media (max-width: 768px) {
  .noticesection1 {
    padding: 10.4rem 0 9rem;
  }

  .noticeheader {
    margin-top: 0.9rem;
  }
  .noticesection2 {
    margin-top: 0rem;
    padding-top: 0rem;
  }

  .noticesection3 {
    /*상 [좌=우] 하 */
    padding: 2.6rem 0 10rem;
  }
}
