.postdetailheader {
  padding: 5.5rem 0 3.5rem 0;
  border-bottom: 2px solid #ddd;
}

.postdetailbtn {
  text-align: center;
  margin: auto;
  display: block;
}
.delete {
  margin: auto;
  border: 1.5px solid #000000;
  cursor: pointer;
  font-family: Noto Sans KR;
  font-style: normal;
  font-weight: normal;
  font-size: 1.6rem;
  padding: 1.2rem 3rem;
  border-radius: 4rem;
  display: block;
  background: #ffff;
}

.delete:hover {
  background: #9fa4a9;
  font-weight: bold;
}

@media (max-width: 960px) {
  .postdetailsection {
    padding: 10rem 0;
  }
}

.postdetailsection {
  padding: 26rem 0 18rem;
}
