.background {
  background: url("img/site_background.jpg") no-repeat;
  height: 40rem;
  z-index: 2;
  background-size: cover;
  margin-top: 9rem;
}

.service {
  padding: 24rem 0;
  display: flex;
  flex-direction: column;
  padding-bottom: 4rem;
  white-space: pre-line;
  word-wrap: break-word;
  width: 35rem;
}

.service1 {
  margin-top: 5rem;
  display: flex;
  flex-direction: row;
  margin-bottom: 15rem;
}
.servicename {
  padding-top: 5rem;
}
.int {
  margin-bottom: 1.5rem;
}
.paragraph {
  word-break: keep-all;
  white-space: normal;
  margin-right: 10.4167%;
  margin-bottom: 2rem;
}
.modit {
  margin-top: 5rem;
  width: 40rem;
  height: 55rem;
  object-fit: contain;
}
.btns {
  display: flex;
  padding: 1rem;
  align-items: center;
}
.playstore {
  background: url("img/playstore.png") no-repeat;
  border: none;
  width: 3rem;
  height: 3rem;
  object-fit: contain;
  margin-left: 4rem;
  cursor: pointer;
}
.playstore:hover {
  background: url("img/playstore_hover.png") no-repeat;
}
.appstore {
  background: url("img/appstore.png") no-repeat;
  border: none;
  width: 3rem;
  height: 3rem;
  object-fit: contain;
  margin-left: 2rem;
  cursor: pointer;
}
.appstore:hover {
  opacity: 70%;
}

@media (max-width: 960px) {
  .service {
    display: flex;
    padding-top: 10rem;
    padding-bottom: 4rem;
    white-space: pre-line;
    word-wrap: break-word;
    width: 18.4rem;
  }
  .background {
    height: 30rem;
  }
  .servicename {
    padding-top: 4rem;
  }

  .int {
    margin-right: 4rem;
  }
  .serviceTitle {
    white-space: pre-line;
    word-break: keep-all;
    width: 78.13%;
  }

  .service1 {
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .paragraph {
    margin-right: 0;
  }
  .modit {
    margin-top: 4rem;
    width: 100%;
    height: 30rem;
    object-fit: cover;
  }
}
