.service {
  display: flex;
  flex-direction: column;
  padding-bottom: 4rem;
  margin-left: 1rem;
}

.service1 {
  display: flex;
  flex-direction: row;
  margin-left: 1rem;
}
.servicename {
  padding-top: 5rem;
}
.int {
  margin-bottom: 1.5rem;
}
.paragraph {
  margin-bottom: 2rem;
  margin-right: 15rem;
}
.modit {
  width: 40rem;
  height: 55rem;
  object-fit: contain;
}

.playstore {
  padding-top: 1.2rem;
  margin-left: 4rem;
}
.appstore {
  padding-top: 1.2rem;
  margin-left: 2rem;
}

@media (max-width: 960px) {
  .service {
    display: flex;

    padding-top: 10rem;
    padding-bottom: 4rem;
  }

  .service1 {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
  }
  .modit {
    width: 96vw;
    height: 30rem;

    object-fit: cover;
  }
}