footer {
  background-color: #f7f8f9;
  padding: 6.5rem 0 4.5rem 0;
  border-top: 2px solid #e9ebed;
}

.footerTopContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5.5rem;
}

.logoImg {
  width: 18rem;
}

.youtube {
  background: url("img/youtube_hover.png") no-repeat;
  border: none;
  width: 4rem;
  padding: 0;
  height: 3rem;
  cursor: pointer;
}
.youtube:hover {
  background: url("img/youtube.png") no-repeat;
}

.navLinkListContainer {
  display: flex;
  gap: 8.3rem;
  text-align: center;
  font-family: Montserrat;
  margin-right: 17%;
  margin-bottom: 1.9rem;
}

.navLinkList {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

.navLinkTitle {
  font-weight: 600;
  font-size: 1.4rem;
  margin-bottom: 2rem;
}

.navLinkTitle a {
  text-decoration: none;
  color: #464c52;
}
.navLinkTitle a:hover {
  text-decoration: underline;
}
.navLink {
  font-weight: 500;
  font-size: 1.2rem;
}

.navLink a {
  color: #9fa4a9;
  text-decoration: none;
}

.navLink a:hover {
  color: #464c52;
}

.etcLinkAndSNSContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.6rem;
}

.etcNavLinkList {
  display: flex;
  gap: 2.5rem;
}

.etcNavLink {
  font-weight: 500;
  font-size: 1.2rem;
  color: #9fa4a9;
}

.etcNavLink:hover {
  color: #464c52;
}
.snsIconsContainer {
  display: flex;
  gap: 1.5rem;
}

.copyright {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.25%;
  color: #cacdd2;
}

@media (max-width: 960px) {
  footer {
    padding: 3.1rem 0 5.1rem 0;
  }

  .footerTopContainer {
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 2.1rem;
  }

  .logoImg {
    width: 10.1rem;
    margin-bottom: 2.4rem;
  }

  .navLinkListContainer {
    flex-direction: column;
    gap: 1.8rem;
    text-align: left;
    margin-right: auto;
    margin-bottom: auto;
  }

  .navLinkList {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
  }

  .navLinkTitle {
    font-size: 1.3rem;
    margin-bottom: 1.1rem;
  }

  .navLink {
    font-size: 1.1rem;
  }

  .etcLinkAndSNSContainer {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 2.8rem;
  }

  .etcNavLinkList {
    flex-direction: column;
    gap: 1.2rem;
    margin-bottom: 2rem;
  }

  .etcNavLink {
    font-size: 1.1rem;
  }

  .snsIconsContainer {
    display: flex;
    gap: 0.9rem;
  }

  .copyright {
    font-size: 1.1rem;
  }
}
