header {
  width: 100%;
  height: 8rem;
  position: fixed;
  top:0;
  z-index: 10;
  background: rgba(255, 255, 255, 0.95);
  backdrop-filter: blur(8px);
  -ms-user-select: none; 
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.headerContainer {
  padding-top: 2.5rem;
  height: 100%;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: flex-start;
}

.logoImg {
  width: 14.1rem;
}

.navLinkBackground{
  z-index: 9;
  position: fixed;
  top:8rem;
  width: 100%;
  height: 24rem;
  background: rgba(255, 255, 255, 0.95);
  backdrop-filter: blur(8px);
  filter: drop-shadow(0px 3px 5px rgba(0, 0, 0, 0.04));
  display: block;
}

.navContainer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

nav ul {
  display: flex;
  gap: 2rem;
}

.navLinkList {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.navLink {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 1.4rem;
}

.navLink a {
  color: #9FA4A9;
  text-decoration: none;
}

.navLink a:hover {
  animation: textColorChange 300ms ease-in-out forwards;
}

.navLink a::after {
  content: "";
  display: block;
  background-color: #15171A;
  width: 0%;
  height: 2px;
  margin-top: .2rem;
}

.navLink a:hover::after {
  animation: lineStretch 300ms ease-in-out forwards;
}

.navLinkTitle {
  padding: .8rem 2rem;
  border-radius: 10rem;
  margin-bottom: 4.4rem;
}

.navLinkTitleSelected {
  padding: .8rem 2rem;
  border-radius: 10rem;
  margin-bottom: 4.4rem;
  background-color: #15171A;
  color: #F7F8F9;
}

.navLinkContainer > a{
  font-family: Montserrat;
  font-weight: 600;
  font-size: 1.6rem;
  color: #464C52;
  text-decoration: none;
}

.menuBtn {
  position: absolute;
  right: 0;
  width: 1.8rem;
  height: 1.4rem;
  display: none;
  cursor: pointer;
}

.menuBtn div {
  width: 100%;
  height: 2px;
  background-color: #15171A;
}

.menuBtnClicked {
  position: absolute;
  right: 0;
  width: 2rem;
  height: 1.4rem;
  margin-top: .6rem;
  display: none;
  cursor: pointer;
}

.menuBtnClicked div {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #15171A;
}

.menuBtnClicked div:first-child {
  transform: rotate(135deg) translateX(0%);
}

.menuBtnClicked div:nth-child(2) {
  transform: rotate(45deg) translateX(0%);
}

.menuBtnClicked div:last-child {
  display: none;
}

.navLinkTitle:hover {
  animation: changeBG 300ms ease-in-out forwards;
  -moz-animation: changeBG 300ms ease-in-out forwards; /* Firefox */
  -webkit-animation: changeBG 300ms ease-in-out forwards; /* Safari and Chrome */
  -o-animation: changeBG 300ms ease-in-out forwards; /* Opera */
}

.overflowHidden {
  overflow: hidden;
}

.displayNone {
  display: none;
}

@media (max-width: 960px) {
  header {
    height: 7rem;
    background: #ffffff;
  }

  .headerContainer {
    flex-direction: column;
    justify-content: flex-start;
  }

  .logoImg {
    width: 8.7rem;
  }

  .menuBtn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .menuBtnClicked {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .navLinkBackground{
    top:7rem;
    width: 100%;
    height: 100%;
    background: #F7F8F9;
  }
  
  .navContainer {
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 6rem;
  }

  nav ul {
    flex-direction: column;
  }
  
  .navLinkList {
    gap: 2.2rem;
    align-items: flex-start;
  }
  
  .navLink {
    text-align: left;
    font-size: 1.1rem;
  }

  .navLinkTitle {
    padding: 0;
    border-radius: 0;
    margin-bottom: 2.2rem;
  }

  .navLinkTitleSelected {
    padding: 0;
    border-radius: 0;
    margin-bottom: 2.2rem;
    background-color: transparent;
    color: #15171a;
  }

  .navLinkTitle:hover {
    animation: none;
    -moz-animation: none; /* Firefox */
    -webkit-animation: none; /* Safari and Chrome */
    -o-animation: none; /* Opera */
  }

  .navLinkContainer > a{
    font-size: 1.3rem;
  }
  
}

/*애니메이션*/

@keyframes textColorChange {
  0% {
    color: #9FA4A9;
  }
  100% {
    color: #15171A;
  }
}

@keyframes lineStretch {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

@keyframes changeBG {
  from {
      background-color: none;
  }
  to {
      background-color: #15171A;
      color: #F7F8F9;
  }
}
@-moz-keyframes changeBG { /* Firefox */
  from {
      background-color: none;
  }
  to {
      background-color: #15171A;
      color: #F7F8F9;
  }
}
@-webkit-keyframes changeBG { /* Safari and Chrome */
  from {
      background-color: none;
  }
  to {
      background-color: #15171A;
      color: #F7F8F9;
  }
}
@-o-keyframes changeBG { /* Opera */
  from {
      background-color: none;
  }
  to {
      background-color: #15171A;
      color: #F7F8F9;
  }
}