*{
    margin: 0;
    padding:0;
}

/*표 css */
ul,li{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

.notice_wrap{
    width: 1000px;
    margin:100px auto;
}

.notice_title{
    margin-bottom: 150px;
}

.notice_menu{
    margin-bottom: 30px;
}

.notice_list{
    width:100%;
    border-top:2px solid #000;
    border-bottom:2px solid #000;
}

.top {
    border-bottom:1px solid #ddd;
    font-weight: bold;
}

.notice_list > div > div {
    display: inline-block;
    text-align: center;
    font-weight: 400;
    font-size: 1.4rem;
    padding: 15px 0;
}

.notice_list .title {
    width:92%;
    text-align: left;
}

.notice_page{
    margin-top: 30px;
    text-align: center;
}

.notice_btn_style{
    display: inline-block;
    min-width: 80px;
    padding:13px;
    text-align: center;
    font-size: 10pt;
}

.notice_next_btn{
    display: inline-block;
    min-width: 10px;
    padding:13px;
    text-align: center;
    font-size: 10pt;
}

/*세부 페이지 css */
.notice_view{
    width:100%;
    border-top: 2px solid #000;
}

.notice_view .title{
    padding: 20px 10px;
    border-bottom: 2px solid #ddd;
}

.date_style{
    color:#9FA4A9;
    font-size: 15px;
    line-height:160%;
    margin-top: 30px;
    margin-bottom: 10px;
}
.title_style{
    color: black;
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 10px;
}

.cont{
    padding: 20px;
    line-height: 180%;
    font-size: 15px;
    color: #464C52;
}

.bt_wrap{
    text-align: center;
    margin-top: 10%;
}

.bt_style{
    display: inline-block;
    min-width: 130px;
    padding:13px;
    padding-right:35px;
    padding-left:35px;
    border: 1px solid #000;
    border-radius: 20px;
    text-align: center;
    font-size: 10pt;
}
